/* Lighting Collection Styling */
.lighting-collection {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.lighting-collection h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.lighting-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    flex-basis: 100%;
}

.lighting-item img {
    width: 150px; /* Adjust width */
    height: 150px; /* Adjust height */
    border-radius: 5px;
    object-fit: cover;
}

.lighting-item h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.lighting-item p {
    color: #555;
    margin: 5px 0;
}

.lighting-item:hover {
    transform: scale(1.05);
}

/* Order Now button styling */
.order-now-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #008080; /* Teal color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.order-now-btn:hover {
    background-color: #006666; /* Darker teal for hover effect */
}

/* Back to Home button styling */
.back-home-btn {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green color for Back to Home */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.back-home-btn:hover {
    background-color: #388E3C; /* Darker green for hover effect */
}

@media (min-width: 600px) {
    .lighting-collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .lighting-item {
        flex-basis: 45%;
    }
}

@media (min-width: 900px) {
    .lighting-item {
        flex-basis: 30%;
    }
}
